name: New dependencies advisor

on:
  pull_request:
    branches:
      - main

jobs:
  new-dependencies-advisor:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: New dependencies advisor
        uses: lirantal/github-action-new-dependencies-advisor@v1.2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
