name: Node CI

on:
  pull_request:
    branches:
      - master
  push:
    tags:
      - '*.*.*'

jobs:
  build:

    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.1

    - name: Setup NodeJS
      uses: actions/setup-node@v2.1.0
      with:
        node-version: ${{ matrix.node-version }}

    - name: Setup csc.exe
      uses: yoavain/Setup-CSC@v6

    - name: Dependencies Install
      run: npm ci
      env:
        CI: true
        NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

    - name: Build and Test
      run: npm run build
      env:
        CI: true
        NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

    - name: Codecov
      uses: codecov/codecov-action@v1.0.10
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true

    - name: Pre-Publish - install package globally
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        FOR /F "tokens=*" %%g IN ('node -e "console.log(require(""./package.json"").version)"') do (SET VERSION=%%g)
        npm i -g create-windowless-app-%VERSION%.tgz
      shell: cmd
      env:
        NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

    - name: Pre-Publish - test package globally
      if: startsWith(github.ref, 'refs/tags/')
      run: |
        create-windowless-app pre-commit-test-app
        cd pre-commit-test-app
        npm run build
      shell: cmd
      env:
        NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

    - name: Publish
      if: startsWith(github.ref, 'refs/tags/')
      run: npm publish
      env:
        NPM_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: create-windowless-app-*.tgz
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
